<div class="modal-dialog modal-md" role="document">
   <div class="modal-content modal-bg-danger modal-colored">
      <div class="modal-header">
         <h6 class="modal-title">Eliminar Producto</h6>
         <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <img src="img/svg/x.svg" alt="x" class="svg">
         </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que quiere eliminar el producto {{producto.descripcion}}</p>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-primary btn-sm">Eliminar</button>
         <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
      </div>
   </div>
</div>